body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  background-color: rgba(255, 255, 255, 1);
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

body a:hover,
body a:focus {
  text-decoration: underline;
}

.logo {
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}

.logo span {
  color: #2e2f42;
}

.navbar-link {
  font-size: 16px;
  font-weight: 500;
}

.heading {
  background-color: #2e2f42;
}

h1 {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}

.heading button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

h2,
h3 {
  color: #2e2f42;
  font-weight: 500;
}
